body, p {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.example {
    color: #3BF;
    font-family: Arial;
    font-size: 20px;
}

.notepad {
    background-image: linear-gradient(to right, #4299f8, #00b2f8, #37c7ef, #72d9e5, #a5e8e0, #baeee9, #cef5f1, #e2fbf9, #e9fcff, #f3fcff, #fbfdff, #ffffff);
    min-height: 100vh;
    overflow: hidden;
    /* background: #eeeeee; */
    padding: 8px;
}

.note-rm-btn {
    position: absolute;
    top: 4px;
    right: 7px;
}

.note {
    overflow: hidden;
    height: 20rem;
}

.mt-1 {
    margin-top: 8px;
}

.mt-3 {
    margin-top: 30px;
}

.m-auto {
    margin: 0 auto;
}

.bold {
    font-weight: bold;
}

.msg-info {
    font-size: 18px;
    color: #EEE;
}

.note-active {
    background: #dadada;
}

.note-inactive {
    background: #fff;
}

.top-panel {
    background-color: #fff;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 10px;
    z-index: 100;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.remote-btn {
    bottom: -32px;
    left: 50%;
    transform: translateX(-50%);
}

.yt-player-container {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 50;
    max-width: 100%;
    width: 640px;
    font-size: 0;
}

.control-panel {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 50;
    width: 50%;
    height: 36px;
}

.control-panel .timer {
    line-height: 36px;
}

.player-btn {
    bottom: 0;
    left: 0;
    z-index: 100;
    height: 45px;
}

.tag-item {
    color: #FEFEFE;
    background: #3BF;
    padding: 3px 6px;
    line-height: 22px;
    border-radius: 2px;
    display: inline-block;
    margin-right: 4px;
}

.main-view {
    width: 100%;
    margin: 0;
}

.yt-list {
    overflow-y: auto;
    position: sticky;
    top: 52px;
    height: calc(100vh - 86px);
    padding: 10px;
    overscroll-behavior-y: contain;
    background-color: #424242;
}

.view-switch {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.spinner {
    height: 53px;
    margin: 2px;
}

.smooth-bg {
    transition: background 0.1s linear;
}

.smooth-transform {
    transition: transform 0.1s;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.bb-1 {
    border-bottom: 1px solid #9e9e9e;
}

.d-none-lg {
    display: none;

}

/* It should be mobile first: @media only screen and (min-width: 993px)*/
@media only screen and (max-width: 992px) {
    .yt-player-container, .control-panel {
        bottom: 50px;
    }

    .main-view {
        margin-bottom: 86px !important;
    }

    .top-panel {
        position: fixed;
        top: 0;
    }

    .yt-list {
        height: auto;
        position: relative;
        top: 0;
        margin-bottom: 86px;
    }

    .control-panel {
        width: 100%;
    }

    .transform-left-50 {
        transform: translateX(-50%);
    }

    .transform-top-100 {
        transform: translateY(-100%);
    }

    .width-2x-sm {
        width: 200%;
    }

    .pos-fixed-sm {
        position: fixed;
    }

    .z-depth-2-sm {
        box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3) 
    }

    .d-none-sm {
        display: none;
    }

    .d-none-lg {
        display: initial;
    }

    .transform-right-100 {
        transform: translateX(100%);
    }
}

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

.pos-fixed {
    position: fixed;
}

.toast-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 2000;
}

.toast-item {
    padding: 10px;
    background: white;
    border-radius: 2px;
    width: 200px;
    margin-top: 5px;
}

.small-text {
    font-size: 11px;
}

:root {
    --label-color: #db9e1a; /* #40c4ff; /* #00b0ff; */
}

.row {
    margin-bottom: 0;
}

.input-field {
    margin-bottom: 0;
}
